<template>
  <form @submit.prevent="editNote()">
    <div class="min-h-screen pt-6 bg-indigo-50 md:px-20">
      <div class="max-w-2xl px-6 py-10 mx-auto bg-white rounded-md">
        <h1 class="mb-10 text-2xl font-bold text-center text-gray-500">
          Edit Post
        </h1>
        <div class="space-y-4 text-center">
          <div>
            <label for="title" class="font-serif text-lx">Title:</label>
            <input
              type="text"
              placeholder="title"
              v-model="title"
              id="title"
              class="px-2 py-1 ml-2 border-2 rounded-md outline-none text-md"
            />
          </div>
          <div>
            <label for="content" class="font-serif text-lx">Content:</label>
            <input
              type="text"
              placeholder="content"
              v-model="content"
              id="content"
              class="px-2 py-1 ml-2 border-2 rounded-md outline-none text-md"
            />
          </div>
          <button
            class="block px-6 py-2 mx-auto text-lg font-semibold text-indigo-100 bg-indigo-600 rounded-md"
          >
            Edit Post
          </button>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
import { db } from "../../plugins/firebase";
import { getStorage, uploadBytes, ref, getDownloadURL } from "firebase/storage";
import {
  collection,
  getDocs,
  deleteDoc,
  doc,
  onSnapshot,
  getDoc,
  query,
  where,
  addDoc,
  orderBy,
  limit,
  updateDoc,
} from "firebase/firestore";
export default {
   data() {
    return {
      title: "",
      content: "",
    };
  },
  methods: {
    async getNote() {
      const docRef = doc(db, "todos", this.$route.params.id);
      const docSnapshot = await getDoc(docRef);
      this.title = docSnapshot.data().title;
      this.content = docSnapshot.data().content;
    },
    async editNote() {
      const docRef = doc(db, "todos", this.$route.params.id);
      await updateDoc(docRef, {
        title: this.title,
        content: this.content,
      });
      alert('Sửa thành công')
      this.$router.push('/')
    },
  },
  mounted() {
    this.getNote();
  },
};
</script>

<style scoped></style>
