<template>
  <div
    class="flex items-center justify-center w-full font-sans bg-teal-500 h-100"
  >
    <div class="w-full p-6 m-4 bg-white rounded shadow lg:w-3/4 lg:max-w-lg">
      <div class="mb-4">
        <h1 class="text-gray-500">Todo List</h1>
        <div class="flex mt-4">
          <input
            v-model="titleSearch"
            class="w-full px-3 py-2 mr-4 border rounded shadow appearance-none text-gray-500-darker"
            placeholder="search"
          />
          <button
            @click="searchPost()"
            class="p-2 text-teal-500 border-2 border-teal-500 rounded flex-no-shrink hover:text-white hover:bg-teal-500"
          >
            Search
          </button>
        </div>
        <div class="flex mt-4">
          <input
            class="w-full px-3 py-2 mr-4 border rounded shadow appearance-none text-gray-500-darker"
            v-model="title"
            placeholder="Title"
          />
          <input
            class="w-full px-3 py-2 mr-4 border rounded shadow appearance-none text-gray-500-darker"
            v-model="content"
            placeholder="content"
          />
          <button
            @click="AddPost()"
            class="p-2 text-teal-500 border-2 border-teal-500 rounded flex-no-shrink hover:text-white hover:bg-teal-500"
          >
            Add
          </button>
        </div>
      </div>

      <div>
        <div
          class="flex items-center justify-between w-full mb-4 space-x-4"
          v-for="(item, index) in dataMessage"
        >
          <div class="flex justify-between space-x-4">
            <span>Title</span>
            <p class="w-full text-gray-500">
              {{ item.title }}
            </p>
          </div>
          <div class="flex justify-between space-x-4">
            <span>Content</span>
            <p class="w-full text-gray-500">
              {{ item.content }}
            </p>
          </div>
          <button
            class="p-2 ml-4 mr-2 text-green-500 border-2 border-green-500 rounded flex-no-shrink hover:text-white hover:bg-green-500"
          >
            <nuxt-link :to="{ name: 'Edit-id', params: { id: item.id } }"
              >Edit</nuxt-link
            >
          </button>
          <button
            @click="deleteNote(item.id)"
            class="p-2 ml-2 text-red-500 border-2 border-red-500 rounded flex-no-shrink hover:text-white hover:bg-red-500"
          >
            Remove
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../plugins/firebase";
import { getStorage, uploadBytes, ref, getDownloadURL } from "firebase/storage";
import {
  collection,
  getDocs,
  deleteDoc,
  doc,
  onSnapshot,
  getDoc,
  query,
  where,
  addDoc,
  orderBy,
  limit,
} from "firebase/firestore";

export default {
  data() {
    return {
      title: "",
      content: "",
      titleSearch: "",
      dataMessage: [],
    };
  },

  methods: {
    async getNotes() {
      let unSub = null;
      const collectionRef = collection(db, "todos");
      unSub = onSnapshot(collectionRef, (snapShot) => {
        const localMessage = [];
        snapShot.forEach((doc) => {
          localMessage.push({
            id: doc.id,
            title: doc.data().title,
            content: doc.data().content,
          });
        });
        this.dataMessage = localMessage;
      });
    },
    async AddPost() {
      if (!this.title) {
        alert("Nhập title vào rồi hãy submit bạn ơi");
        return;
      } else if (!this.content) {
        alert("Nhập content vào rồi hãy submit bạn ơi");
        return;
      }

      const collectionRef = collection(db, "todos");
      try {
        await addDoc(collectionRef, {
          title: this.title,
          content: this.content,
        });
        (this.title = ""), (this.content = ""), alert("add thành công !");
      } catch (e) {
        console.log(e);
        alert("add thất bại !");
      }
    },
    async deleteNote(id) {
      const docRef = doc(db, "todos", id);
      await deleteDoc(docRef);
    },
    async searchPost(){
      let unSub = null;
      const collectionRef = collection(db, 'todos');
      const collectionQuery = query(collectionRef, where('title', '==',this.titleSearch ));
      try {
        unSub = onSnapshot(collectionQuery, (snapShot) => {
          const localMessage = [];
          snapShot.forEach(doc => {
            localMessage.push({
              id: doc.id,
              title: doc.data().title,
              content: doc.data().content,
            });
          });
          console.log(localMessage)
          if(localMessage != []){
            this.dataMessage = localMessage;
          }
        });
      } catch (e) {
        console.log(e);
        alert("add thất bại !")
      }
    }
  },
  mounted() {
    this.getNotes();
  },
};
</script>

<style scoped></style>
